.span3.well{
	margin: 0 auto;
	margin-top: 10px;
	max-width: 500px;
}

.span3.well .container-btn {
	height: 50px;
}

.btn-right{
	float: right;
}

@media only screen and (max-width : 767px) {
	.btn-right{
		float: none;
	}
}